.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.h1 {
  justify-content: center;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

/////// liste de ma navbar //////
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin: 0 15px;
}

@media (max-width: 576px) {
  .nav-item {
    margin: 10px 0;
  }
}
