<div class="container">
  <h1>Maxime LAZZAROTTO</h1>
  <div class="grid-container">
  <div class="grid-item">
    <%= link_to "Qui suis-je ?", about_path, class: "grid-link" %>
  </div>
  <div class="grid-item">
    <%= link_to "Mon parcours", parcours_path, class: "grid-link" %>
  </div>
  <div class="grid-item">
    <%= link_to "Mes projets", projets_path, class: "grid-link" %>
  </div>
  <div class="grid-item">
    <%= link_to "Me contacter", contacts_path, class: "grid-link" %>
  </div>
</div>


</div>
